:root {
  /* Color */
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-black: #4d4d4d;
--color-dark-grey: #4d4d4d;
--color-grey: #616161;
--color--light-grey: #7c7979;
--color-blue: #73aace;
--color-yellow: #fff7d1;
--color-orange: #feb546;
--color-black: #000000;


 /* Font size */
  --font-: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-light: 300;
  --weight-medium: 500;
  --weight-bold:700;
  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 400ms;

}


/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

div {
  display: block;
}



ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 40px;
}


button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  border-radius: 2px;
  padding: 0px 0px 0px 2px;
  color: var(--color-black);
  background-color: var(--color-white);
  align-items: center;
  z-index: 900;
  
}

.globar-nav {
  padding: 0 20px;
  background-color: var(--color-white);
}

.globar-nav-list {
  position: relative;
  padding: 10px 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.globar-nav-item {
  display: inline;
  padding: 0 10px;
}


.site-nav {
  height: 80px;
  padding-bottom: 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

.site-nav-logo {
  color: var(--color-black);
  position: absolute;
  left: 0;
  height: 100%;
  width: 180px;
  padding: 10px 0 10px 20px;
  z-index: 550;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
}

.site-nav-logo img{
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 0px;
}

.site-nav-logo a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: .21px;
  padding: 10px 0px 10px 20px;
}

.site-nav-list {
  display: flex;
  z-index: 550;
  background-color: var(--color-white);
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-top: 30px;
  height: 80px;
  text-align: center;
  margin: 0;
}

li.site-nav-item {
  display: inline;
  padding: 0 10px;
  font-size: 16px!important;
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar-language-container {
  position: absolute;
  top: 0;
  right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 500;
}

.wrraper {
  max-width: none;
  position: relative;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
}

.header-content
.title .image {
  background-attachment: fixed;
}

.header .title .image {
  max-width: 85vw;
  text-align: center;
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-30%);
}

.header .title h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -.02em;
  margin-top: -4px;
  color: var(--color-white);
}

.header .subtitle {
  margin-top: 8px;
  position: relative;
  z-index: 500;

}

.header .subtitle 
h2 {
  font-size:18px;
  line-height:24px;
  font-weight:700;
  text-align: center;
  color: var(--color-white);
}
